.container {
    height: 90vh;
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
 }
 .cell-1 {
    background: deepskyblue;
    grid-area: header;
 }
 .cell-2 {
    background: orangered;
    grid-area: left;
 }
 .cell-3 {
    background: limegreen;
    grid-area: main;
 }
 .cell-4 {
    background: gold;
    grid-area: right;
 }
 .cell-5 {
    background: blueviolet;
    grid-area: footer;
 }
 .cell {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem;
 }.container {
    height: 90vh;
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
 }
 .cell-1 {
    background: deepskyblue;
    grid-area: header;
 }
 .cell-2 {
    background: orangered;
    grid-area: left;
 }
 .cell-3 {
    background: limegreen;
    grid-area: main;
 }
 .cell-4 {
    background: gold;
    grid-area: right;
 }
 .cell-5 {
    background: blueviolet;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
 }
 .cell-5 .cell {
    background-color: coral;
 }
 .cell {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem;
 }