.container{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    margin: 20vh auto;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
}

.container-child{
    height: 20%;
    width: 80%;
    margin: auto;
}

.container-child input{
    height: 100%;
    width: 100%;
}